{% extends "base.html" %}

{% block 'head' %}
    <title>Login</title>
{% endblock 'head' %}

{% block 'body' %}
    <div class="container">
        <h1>Login</h1>
        <div>
            {% if messages %}
                {% for message in messages %}
                    <section class="alert {{message.tags}}">
                        {{message}}
                    </section>
                {% endfor %}
            {% endif %}
            <form action="{% url "login" %}" method="post">
                {% csrf_token %}
                <label for="username">
                    <input type="text" name="username" id="username">
                </label>
                <label for="password">
                    <input type="password" name="password" id="password">
                </label>
                <input type="submit" value="Logar">
                <a href="{% url "home" %}">Voltar</a>
            </form>
        </div>
    </div>

{% endblock 'body' %}
